html, body, #root {
    height: 100%;    
    margin: 0;
}

.rdt_TableHeader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.rdt_Pagination{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}